
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  max-width: 900px;
  background-color: #FCFC FC;
  color: #040404;
}

body, h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  font-family: 'Helvetica', sans-serif;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
}